*{
  margin: 0;
  padding: 0;
}
html,body{
  position: relative;
  width: 100%;
  height: 100%;
  background: black;
  .wrap{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    &:after{
      display: block;
      content: '';
      clear: both;
    }
    .item{
      position: relative;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      float: left;
      margin: 0 10px;
      list-style: none;
      &:after{
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        content: '';
      }
    }
    @for $i from 1 through 5{
      .item{
        &:nth-child(#{$i}){
          background: rgba(ceil((6 - $i) * 255 * 0.1), ceil((6 - $i) * 255 * 0.2), ceil((6 - $i) * 255 * 0.3), 1);
          &:after{
            background: rgba(ceil((6 - $i) * 255 * 0.1), ceil((6 - $i) * 255 * 0.2), ceil((6 - $i) * 255 * 0.3), 1);
            animation: staggered 2s $i * 0.4s linear infinite;
            -webkit-animation: staggered 2s $i * 0.4s linear infinite;
          }
        }
      }
    }
  }
}

@keyframes staggered
{
  0% {
    transform: scale(1.0);
    opacity: 1.0;
  }
  2%{
    transform: scale(1.1);
    opacity: 1.0;
  }
  5%{
    transform: scale(1.0);
    opacity: 1.0;
  }
  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}

@-webkit-keyframes staggered /*Safari and Chrome*/
{
  0% {
    transform: scale(1.0);
    opacity: 1.0;
  }
  10%{
    transform: scale(0.8);
    opacity: 1.0;
  }
  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}
